.nft-container {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	row-gap: 50px; 
}

.nft-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	padding: 20px;
  height: 300px;
	display: flex;
	flex-direction: column;
	width: 280px;
	box-sizing: border-box;
	align-self: center;
justify-self: center;
}

.nft-img {
	object-fit: cover;
	border-radius: 20px; 
  width: 200px;
	height: 200px;
	box-sizing: border-box;
}

.img-wrapper {
	margin: 0 auto;

}

.card-title {
	margin: 1px 0;
	white-space: nowrap;
}

.details-card {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
 
.nft-button {
background-color: white;
padding: 5px;
}

.popup-container {
	position: fixed;
	background-color: rgb(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(5px);
}

.popup-body {
	height:  auto;
	width: 80%;
	margin: 9% auto;
	padding: 20px;
	background-color: white;
	font-size: 24px;
}

.popup-wrapper {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.popup-header {
	width: 100%;
	text-align: right;
}
.pop-img {
	width: 400px;
	height: 400px;
}

.pop-left {
	width: 30%;
}
.pop-div {
	display: flex;
	flex-direction: column;
	width: 58%;
	justify-content: flex-end;
	text-align: left;
}

.pop-links {
	display: flex;
	flex-direction: column;
}

.pop-links a {
	text-decoration: none;
	padding-top: 10px;
	size: 10px;
}
 

.close {
	border: none;
	color: white;
	background-color: #000080;
	border-radius: 20px;
	padding: 5px 10px;
}