.inputwallet {
  margin: 20px auto;
  text-align: center;
}

input {
  height: 50px;
  width: 400px;
  border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-btn {
  border: none;
  height: 50px;
}
